:root {
  color-scheme: dark;
}


body {
  background-color:#414042;
}


html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}



.header {
    display: flex;
    align-items: center;
    gap: 100px;
    padding: 20px 30px;
    background-color:#01000f36;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.logo {
    height: 40px;   /* Adjust to your liking */
    width: auto;
}

.header h1 {
    margin: 0;
    font-size: 2rem;
    color: #ffffff;
}







.inv-table th {
  position: sticky;
  top: 0;
  background-color: #5f0048; /* Prevents underlying text from bleeding through */
  z-index: 1; /* Keeps header layered on top of body rows */
  box-shadow: inset 0 -1px 0 #000000;

}



/*  APPLIES TO ENTIRE TABLE BODY   */

tbody tr{

    color:#000000;
    font-family: sans-serif;
    font-weight: 700;
}

.dataTables_length label {
    color: #1f2937;
    font-weight: 500;
}



/*  MAIN ROW COLOR  */

table {
    width: 100%;
    border-collapse: collapse;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

/*  ALTERNATING ROW COLOR   */

tbody tr:nth-child(even) {
    background-color: #dae9f8;
}


/*  CENTERS COLUMN TEXT IN DATATABLE   */
#inventoryTable th,#inventoryTable td {
    text-align: center;
    vertical-align: middle;
}

/*  STRIPES EVERY OTHER ROW */
table.dataTable tbody tr:nth-child(odd) {
    background-color: #ffffff !important;
}


/*  STRIPES EVERY OTHER ROW */
table.dataTable tbody tr:nth-child(even) {
    background-color: #dae9f8 !important;
}


/*  STRIPES EVERY OTHER ROW FOR LOCATION COLUMN*/
#inventoryTable tbody tr:nth-child(even) td:nth-of-type(8),
#inventoryTable tbody tr:nth-child(even) td:nth-of-type(9),
#inventoryTable tbody tr:nth-child(even) td:nth-of-type(10)

{
    background-color: #fbe2d5;
}





#inventoryTable {
    border-collapse: separate;
    border-spacing: 0;
}


#inventoryTable td {
    border-right: 1px solid #000000;
}


thead th {
    padding: 15px;
    text-align: left;
    font-weight: 600;
    letter-spacing: 0.5px;
}

tbody td {
    padding: 14px 15px;
}



/* hover color */

tbody tr:hover {
    background-color: #000000;
    transition: background-color 0.2s ease;
}

tbody tr:last-child td {
    border-bottom: none;
}


.snapshot-info {
    color: #6b7280;
}

tr.bay-separator td {
    border-top: 1px solid #000000;
}